body {
	background: #F5F5F5;
	margin: 0;
	opacity: 0;
	transition: 1.5s;
	}

.tile {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1.5rem;
	margin: 25px auto;
	}

#bio {
	width: 768px;
	height: 352px;
	flex-direction: column;
	background: #FFFFFF;
	box-shadow: 0rem 0.5rem 1.75rem 0.125rem rgb(0 0 0 / 5%);
	}

#insaneattic-logo {
	width: 628px;
	height: 150px;
	background: url(https://insaneattic.github.io/insaneattic/assets/insaneattic-logo.png) center no-repeat;
	background-size: contain;
	margin-top: -15px;
	}

#bio-links {
	display: flex;
	flex-direction: row;
	margin-top: 35px;
	gap: 1.5rem;
	}

#bio-links a {
	width: 65px;
	height: 65px;
	border: 1px solid #EDEDED;
	border-radius: 50%;
	transition: 0.25s;
	}

#bio-links a:hover {
	transform: scale(1.125);
	transition: 0.25s;
	}

#vk-logo {
	background: url(https://insaneattic.github.io/insaneattic/assets/vk-logo.svg) center no-repeat;
	background-size: cover;
	}

#tg-logo {
	background: url(https://insaneattic.github.io/insaneattic/assets/tg-logo.svg) center no-repeat;
	background-size: cover;
	}

#git-logo {
	background: url(https://insaneattic.github.io/insaneattic/assets/git-logo.svg) center no-repeat;
	background-size: cover;
	}

.project {
	width: 100%;
	height: 280px;
	border-collapse: collapse;
	text-align: center;
	}

.project-title {
	width: 100%;
	background: #FFFFFF;
	padding: 15px 0px;
	border-radius: 50px;
	color: #000000;
	font-family: Calibri;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 0rem 0.5rem 1.75rem 0.125rem rgb(0 0 0 / 5%);
	}

.project-tile {
	width: 768px;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin: 25px 0;
	}

.project-logo {
	width: 250px;
	height: 250px;
	border-radius: .75rem;
	box-shadow: 0 0.5rem 1.75rem 0.125rem rgb(0 0 0 / 5%);
	}

.project-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 390px;
	height: 300px;
	color: #9D9D9D;
	font-family: Calibri;
	font-size: 18px;
	}

.project-info p {
	margin: 0;
	}

.project-status {
	font-family: Calibri;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFFFFF;
	padding: 4px 8px;
	border-radius: 30px;
	}

.in-progress {
	background: #0000CC;
	}

.completed {
	background: #009900;
	}

.planned {
	background: #000000;
	}

.paused {
	background: #CC0000;
	}

.project-links {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	}

.link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	background: #FFFFFF;
	border-radius: 50px;
	box-shadow: 0rem 0.5rem 1.75rem 0.125rem rgb(0 0 0 / 5%);
	}

.link:hover {
	filter: invert(1);
	}

.web {
	background: url(https://insaneattic.github.io/insaneattic/assets/web-logo.svg) center no-repeat #FFFFFF;
	background-size: contain;
	}

.vk {
	background: url(https://insaneattic.github.io/insaneattic/assets/vk-logo.svg) center no-repeat #FFFFFF;
	background-size: contain;
	}

.tg {
	background: url(https://insaneattic.github.io/insaneattic/assets/tg-logo.svg) center no-repeat #FFFFFF;
	background-size: contain;
	}

#mahoutsukai-no-yoru, #heavens-feel, #nie-no-machi {
	width: 768px;
	}

#mahoutsukai-no-yoru-logo {
	background: url(https://insaneattic.github.io/insaneattic/assets/mahoyoru.jpg) center no-repeat;
	background-size: cover;
	}

#heavens-feel-logo {
	background: url(https://insaneattic.github.io/insaneattic/assets/fsn-hf-odcd.jpg) center no-repeat;
	background-size: cover;
	}

#nie-no-machi-logo {
	background: url(https://insaneattic.github.io/insaneattic/assets/nie-no-machi.jpg) center no-repeat;
	background-size: cover;
	}

#footer {
	width: 768px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px auto;
	font-family: Calibri;
	font-size: 12px;
	text-transform: uppercase;
	color: #9D9D9D;
	}
