body {
	margin: 0;
	padding: 0;
	background: #000000;
	}

body::-webkit-scrollbar {
	width: 6px;
	}

body::-webkit-scrollbar-track {
	background: #2C2C2C;
	}

body::-webkit-scrollbar-thumb {
	background: #7F499D;
	}

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #000000;
	z-index: 1000;
	}

.preloader-row {
	height: 70px;
	position: relative;
	top: calc(50% - 30px);
	text-align: center;
	animation: preloader-rotate 1s infinite linear;
	}

@keyframes preloader-rotate {
	from {
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	}
	to {
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
	}
	}

.loaded-hiding .preloader {
	transition: 0.25s opacity;
	opacity: 0;
	}

.loaded .preloader {
	display: none;
	}

.dual-ring {
	display: inline-block;
	}

.dual-ring:after {
	content: " ";
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 5px solid;
	border-color: #7F499D transparent #7F499D transparent;
	}

#cover {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	}

#cover img {
	width: 80%;
	}

#links {
	width: 100%;
	height: 150px;
	background: #7F499D;
	position: fixed;
    top: -150px;
	transition: .25s ease;
	    z-index: 990;
}

#links-button {
width: 200px;
    height: 50px;
    background: url(https://raw.githubusercontent.com/INSANEATTIC/insaneattic.github.io/main/heavensfeel/assets/links-button.png) center no-repeat;
	background-size: cover;
	    text-transform: uppercase;
    color: #FFFFFF;
  font-family: "Calibri";
  font-size:16px;
  letter-spacing: 2px;
    position: fixed;
    top: 0px;
    right: 5%;
	    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .25s ease;
    z-index: 990;
	}

#button-title {
	margin-top: -10px;
}

#banners {
width: 95%;
    height: 150px;
    padding: 0;
    margin: auto;
    gap: 5%;
    list-style: none;
    display: flex;
}

#banners li {
width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banners div {
width: 180px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 5px;
	transition: 0.25s;
}

#banners div:hover {
opacity: 0.75;
}

#typemoon {
	background: url(https://raw.githubusercontent.com/INSANEATTIC/insaneattic.github.io/main/heavensfeel/assets/typemoon.jpg) center no-repeat;
	background-size: cover;
}

#aniplex {
	background: url(https://raw.githubusercontent.com/INSANEATTIC/insaneattic.github.io/main/heavensfeel/assets/aniplex.jpg) center no-repeat;
	background-size: cover;
}

#insaneattic {
	background: url(https://raw.githubusercontent.com/INSANEATTIC/insaneattic.github.io/main/heavensfeel/assets/insaneattic.jpg) center no-repeat;
	background-size: cover;
}

#mahoyoru {
	background: url(https://raw.githubusercontent.com/INSANEATTIC/insaneattic.github.io/main/heavensfeel/assets/mahoyoru.jpg) center no-repeat;
	background-size: cover;
}

#typemoonyash {
	background: url(https://raw.githubusercontent.com/INSANEATTIC/insaneattic.github.io/main/heavensfeel/assets/typemoonyash.jpg) center no-repeat;
	background-size: cover;
}

#logo {
	position: absolute;
	bottom: 0;
	width: 90%;
	max-width: 1636px;
	height: 100%;
	transition: .5s ease;
	opacity: 1;
	background: url(https://raw.githubusercontent.com/INSANEATTIC/insaneattic.github.io/main/heavensfeel/assets/logo.png) center no-repeat;
	background-size: contain;
	}

#subtitle {
	position: absolute;
	top: 30px;
	width: 45%;
	height: 45px;
	transition: .5s ease;
	opacity: 1;
	background: url(https://raw.githubusercontent.com/INSANEATTIC/insaneattic.github.io/main/heavensfeel/assets/subtitle.png) center no-repeat;
	background-size: contain;
	}

#scroll-down {
	width: 35px;
	height: 70px;
	border: 3px solid #FFFFFF;
	border-radius: 60px;
	position: absolute;
	bottom: 10%;
	box-shadow: inset 0px 0px 5px #FFFFFF;
	transition: .25s ease;
	&::before {
		content: '●';
		position: absolute;
		top: 5px;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 50%;
		opacity: 1;
		color: #FFFFFF;
		font-size: 20px;
		animation: mousewheel 2s infinite;
		-webkit-animation: mousewheel 2s infinite;
		}
	}

@keyframes mousewheel {
	to {opacity: 0; top: 40px;}
	}

@-webkit-keyframes mousewheel {
	to {opacity: 0; top: 40px;}
	}

#scroll-title {
    display: block;
    text-transform: uppercase;
    color: #FFFFFF;
  font-family: "Calibri";
  font-size:15px;
  position: absolute;
  bottom: 5%;
  letter-spacing: 0.15em;
  transition: .25s ease;
}

#interlude {
	width: 100%;
    height: 800px;
    position: absolute;
    top: 101%;
	transition: .5s ease;
	display: flex;
	justify-content: center;
	}

#interview {
		width: 100%;
    height: 800px;
    position: absolute;
    top: calc(100% + 800px);
	transition: .5s ease;
	display: flex;
	justify-content: center;
}

#epilogue {
		width: 100%;
    height: 800px;
    position: absolute;
    top: calc(100% + 1600px);
	transition: .5s ease;
	display: flex;
	justify-content: center;
}

.title {
	width: 300px;
	height: 50px;
	background: linear-gradient(to right, #6D0399, #B73BB2);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	font-family: "Times New Roman";
	letter-spacing: 10px;
	}

.last-letter {
	letter-spacing: 0px;
	}

.description {
	background: #7F499D;
	width: 600px;
	max-width: 1336px;
	height: 30px;
	color: #FFFFFF;
	margin-top: 10px;
	text-align: center;
	line-height: 30px;
	font-family: "Calibri";
  font-size:16px;
  letter-spacing: 1px;
}

.video {
    width: 900px;
    height: 506px;
    position: absolute;
    top: 100px;
}

.video iframe {
	width: 900px;
	height: 506px;
	border: 0;
	}

#divider-1 {
	width: 522px;
    height: 80px;
    background: url(https://raw.githubusercontent.com/INSANEATTIC/insaneattic.github.io/main/heavensfeel/assets/divider-1.png) center no-repeat;
	background-size: cover;
	position: absolute;
    bottom: 10%;
	visibility: hidden;
	opacity: 0;
	transition: .25s ease;
}

#divider-2 {
	width: 468px;
    height: 80px;
    background: url(https://raw.githubusercontent.com/INSANEATTIC/insaneattic.github.io/main/heavensfeel/assets/divider-2.png) center no-repeat;
	background-size: cover;
	position: absolute;
    bottom: 50px;
}

#divider-3 {
	width: 414px;
    height: 80px;
    background: url(https://raw.githubusercontent.com/INSANEATTIC/insaneattic.github.io/main/heavensfeel/assets/divider-3.png) center no-repeat;
	background-size: cover;
	position: absolute;
    bottom: 50px;
}

#to-top {
	width: 104px;
	height: 80px;
	background: url(https://raw.githubusercontent.com/INSANEATTIC/insaneattic.github.io/main/heavensfeel/assets/to-top.png) center no-repeat;
	background-size: cover;
		position: absolute;
    bottom: 50px;
}
